<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <title>Juego de las parejas</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="icon" href="favicon-pokeball.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="page">
  <partial src="_header.html"></partial>
  <main class="page_main">
    <partial src="_form.html" ></partial>
    <partial src="_cards.html"></partial>
  </main>
</body>
<script type="text/javascript" src="./assets/js/main.js"></script>
</html>
