.cards {
  display: flex;
  justify-content: center;
  .img_back {
    background-repeat: no-repeat;
    background-position: center;
    height: 195px;
    width: 160px;
    margin: 2%;
    border-radius: 1em;
  }
}
.hidden {
  display: none;
}
